html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
body {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}
  
h1, h2 {
  font-family: 'Faster One', cursive;
}

@media (min-width: 300px ) and (max-width: 782px ) {
  #cont-1 table {
    width: 50%;
  }
}

@media (min-width: 300px ) and (max-width: 782px ) {
  body {
    font-size: 70%;
  }
}
@media (max-width: 490px ) {
  body {
    font-size: 65%;
  }
}
@media (max-width: 430px ) {
  body {
    font-size: 0.6rem;
  }
}
@media (max-width: 420px ) {
  body {
    font-size: 0.5rem;
  }
}
@media (max-width: 367px ) {
  body {
    font-size: 0.45rem;
  }
}